/* departments.css */

/* Department Description Card */
.department-description-card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto 30px; /* Added margin at the bottom to create space between the card and the departments-container */
  }
  
  .department-description-card h1 {
    font-size: 24px;
    margin: 0 0 10px; /* Added margin at the bottom of the heading */
    color: #333;
  }
  
  .department-description-card p {
    color: #555;
  }
  
  /* Department Details Card */
  .department-details-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto 20px; /* Added margin at the bottom to create space between the cards */
  }
  
  .department-details-card h2 {
    font-size: 20px;
    margin: 0 0 10px; /* Added margin at the bottom of the heading */
    color: #333;
  }
  
  .department-details-card p {
    color: #555;
  }
  
  /* Departments Container */
  .departments-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Media Query for Responsive Layout */
  @media (max-width: 768px) {
    .departments-container {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }
  